<section class="confirm-form">
  <h3>Confirm email and password</h3>
  <%= form_for @user, url: carts_checkout_url do |f| %>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Confirm", :class => "confirm-bttn" %>
    </div>
  <% end %>
</section>
