<%= form_for @user, url: wizard_path do |f| %>
  <h1> Please confirm your email and password</h1>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm" %>
  </div>
<% end %>
