<h1>Your Cart</h1>
<p><%= link_to "Empty Cart", cart_path, method: :delete %></p>
<hr/>
<% if @cart.empty? %>
  <p>You have no items in your cart.  Please add some from the <%= link_to 'store', root_path%>.</p>
<% end %>
<% total = 0 %>

<ul>
<% @cart.each do |id, quantity| %>
  <% product = Product.find_by_id(id) %>
  <% if @cart.empty? %>
    <p>You have no items in your cart.  Please add some from the <%= link_to 'store', root_path%>.</p>
  <% else %>
  <li>
    <% product.images.each do |image|%>
      <%= image_tag(image.uploaded_file, :width => 100, :height => 100) %>
    <% end %>
    <p><%= link_to product.name, product %></p>
    <p><%= product.description %></p>
    <p><%= number_to_currency(product.price, unit: "$") %></p>
    <p>Quantity: <%= quantity %></p>
  </li>
  <% end %>
  <br/>
  <% total += quantity * product.price %>
<% end %>
<hr/>
Total: <%= number_to_currency(total, unit: "$") %>
</ul>
