<h1>Your Cart</h1>

<% if @cart.empty? %>
  <p>You have no items in your cart.  Please add some from the <%= link_to 'store', root_path%>.</p>
<% else %>
  <p><%= link_to "Empty Cart", cart_path, method: :delete %></p>
  <hr/>
<% end %>

<% total = 0 %>

<ul>
<% @cart.each do |id, quantity| %>
  <% product = Product.find_by_id(id) %>
  <li>
    <p><%= link_to product.name, product %></p>
    <p><%= product.description %></p>
    <p><%= number_to_currency(product.price, unit: "$") %></p>
    <p>Quantity: <%= quantity %></p>
  </li>
  <br/>
  <% total += quantity * product.price %>
<% end %>
<hr/>
Total: <%= number_to_currency(total, unit: "$") %>
</ul>
