<%= form_tag(users_path) do %>
  <div> Name:
    <%= text_field_tag :name %>
  </div>
  <div> Username:
    <%= text_field_tag :username %>
  </div>
  <div> Password:
    <%= text_field_tag :password %>
  </div>
  <div> Email:
    <%= text_field_tag :email %>
  </div>
  <div> Street:
    <%= text_field_tag :street %>
  </div>
  <div> City:
    <%= text_field_tag :city %>
  </div>
  <div> State:
    <%= text_field_tag :state %>
  </div>
  <div> Zip Code:
    <%= text_field_tag :zip %>
  </div>
  <div> Phone:
    <%= text_field_tag :phone %>
  </div>
  <div> Uplode Profile Image:
    <%= file_field_tag :uploaded_file %>
  </div>
    <%= submit_tag :submit %>
<% end %>
