<section class="user-profile">
  <section class="user-info">
    <img class="avatar" src="{{user.avatar_url}}"/>
    <h1 class="full-name">
      <%= @user.name %>
    </h1>
    <p>Edit profile</p> <!-- TODO: LINK TO EDIT PROF FORM -->
  </section>
  <section class="seller-info">
    <nav class="profile-tabs">
      <a href="#/orders" class="active">Orders</a>
      <a href="#/add-product" class="">Add Products</a>
    </nav>
    <section class="panel seller-orders active" id="orders">
      <h2>Current orders</h2>
      <ul class="current-orders"> <!-- TODO: repeat/loop for each order -->
        <li class="buyer-info">
          <h4>Buyer name and date order was placed</h4>
            <ul class="order-details">
              <li>Item name</li>
              <li><span class="fab-thumbnail">Spoonflower pattern</li>
            </ul>
        </li>
      </ul>
    </section>
    <section class="panel add-new" id="add-product">
      <h2>Add a new product</h2>
      <!-- TODO: call 'add-product' form here -->
      <!-- <%# render :partial => "/products/form" %> -->
    </section>
  </section>
</section>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%# @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Street:</strong>
  <%= @user.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
