
<section class="user-profile">
  <section class="user-info">
    <%= image_tag @user.uploaded_file %>
    <h2 class="full-name">
      <%= @user.name %>
    </h2>
    <p><%= link_to 'Edit profile', edit_user_path(@user) %></p> <!-- : LINK TO EDIT PROF FORM -->
  </section>
  <section class="seller-info">
    <section class="manage-profile">
      <h2>Manage your hive</h2>
      <p>Stay up to date on orders, add new products and edit product details. </p>
    </section>
    <nav class="profile-tabs">
      <a href="#orders" class="active">Orders</a>
      <a href="#add-product" class="">Add Products</a>
      <a href="#users-products" class="">Your Products</a>
    </nav>
    <section class="seller-panel seller-orders active" id="orders">
      <h2>Current orders</h2>
      <ul class="current-orders"> <!-- TODO: repeat/loop for each order -->
        <li class="buyer-info">
          <h3>Buyer name and date order was placed</h3>
            <ul class="order-details">
              <li>Item name</li>
              <li><span class="fab-thumbnail">Spoonflower pattern</li>
            </ul>
        </li>
      </ul>
    </section>
    <section class="seller-panel add-new" id="add-product">
      <h2>Add a new product</h2>

      <%= render :partial => "/products/form", class: "add-product" %>

    </section>
    <section class="seller-panel all-seller-products" id="users-products">
      <h2>Manage your products</h2>
      <ul>
        <% @user.products.each do |product| %>
          <li onclick="location.href='<%= edit_product_path(product) %>';">
            <div>
              <tr>
                <% product.images.each do |image|%>
                  <%= image_tag(image.uploaded_file, :width => 50, :height => 50) %>
                <% end %>
              </tr>
              <h3><%=product.name%></h3>
              <label>Yardage: <p><%=product.yardage%></p>
              <label>Shipping cost: <p><%=product.shipping%></p>
              <label>Price: <p><%=product.price%></p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  </section>
</section>
