
<section class="user-profile">
  <section class="user-info">
    <%= image_tag @user.uploaded_file %>
    <h2 class="full-name">
      <%= @user.name %>
    </h2>
    <p><%= link_to 'Edit profile', edit_user_path(@user) %></p> <!-- : LINK TO EDIT PROF FORM -->
  </section>
  <section class="seller-info">
    <section class="manage-profile">
      <h2>Manage your hive</h2>
      <p>Stay up to date on orders, add new products and edit product details. </p>
    </section>
    <nav class="profile-tabs">
      <a href="#orders" class="active">Orders</a>
      <!-- <a href="#add-product" class="">Add Products</a> -->
      <a href="#users-products" class="">Your Products</a>
      <a href="#purchases" class="">Purchases</a>
    </nav>
    <section class="seller-panel seller-orders active" id="orders">
      <h3>Current orders</h3>
      <ul class="current-orders"> <!-- TODO: repeat/loop for each order -->
        <li class="buyer-info">
          <h4>Buyer name and date order was placed</h4>
            <ul class="order-details">
              <li>Item name</li>
              <li><span class="fab-thumbnail">Spoonflower pattern
                <% @user.products.each do |product| %>
                  <% product.order_items.each do |order_item| %>
                    <div><label>Product: <%= order_item.name %></div>
                    <div><label>Ordered On: <%= order_item.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
                    <div><label>Fabric Choice:</br> <%= image_tag order_item.fabric_design_url, width: 100, height: 100, :class => "hexagon-thumb" %></div>
                    <%= form_for order_item do |f| %>
                      <%= f.select :order_item_status, options_for_select(OrderItem.order_item_statuses.keys.to_a, order_item.order_item_status) %>
                      <%= f.submit 'Update Order Status'%>
                    <% end %>
                  <% end %>
                <% end %>
              </li>
            </ul>
        </li>
      </ul>
    </section>
    <!-- <section class="seller-panel add-new" id="add-product">

      <h3>Add a new product</h3>

      <%# render :partial => "/products/form", class: "add-product" %>

    </section> -->
    <section class="seller-panel all-seller-products" id="users-products">
      <h3>Manage your products</h3>
      <ul class="user-products">
        <% @user.products.each do |product| %>
          <li>
            <div>
              <tr>
                <% product.images.each do |image|%>
                  <%= image_tag(image.uploaded_file, :width => 50, :height => 50) %>
                <% end %>
              </tr>
              <h4 onclick="location.href='<%= edit_product_path(product) %>';"><%=product.name%></h4>
              <label>Yardage: <%=product.yardage%>
              <label>Shipping cost: <%=product.shipping%>
              <label>Price: <%=product.price%>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="add-new">
        <h3>Add a new product</h3>
        <%= render :partial => "/products/form", class: "add-product" %>
      </div>
    </section>
    <section class="seller-panel user-purchase" id="purchases">
      <h3>Purchases</h3>
      <% @user.orders.each do |order| %>
        <% order.order_items.each do |item| %>
        <ul class="order-history">
          <li class="order-status"><%= item.order_item_status %></li>
          <li><h4><%= item.name %></h4></li>
          <li><label><%= item.created_at.strftime("%m/%d/%Y at %I:%M%p") %></li>
          <li><label>Total: $<%= (number_with_precision(item.total_price, :precision => 2)) %></li>
        </ul>
        <% end %>
        <% if order.id != session[:order_id] %>
          <%= link_to 'view invoice', charge_path(order.id) %>
        <% end %>
        </br>
      <% end %>
    </section>
  </section>
</section>
