<% @checkout_total = notice %>
<% session[:cart_total] = @checkout_total %>
<p>Your total is <%= number_to_currency(@order.total)%></p>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Cart checkout"
          data-amount="<%= number_to_currency(@checkout_total) %>"
          data-locale="auto"></script>
<% end %>
