<section class="payment-process">
  <h3>Payment</h3>
  <% @checkout_total = notice %>
  <% session[:cart_total] = @checkout_total %>
  <h4>Your total is <%= number_to_currency(@order.total)%></h4>



  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Cart Checkout"
            data-amount="<%= number_to_currency(@checkout_total) %>"
            data-locale="auto"></script>
  <% end %>
</section>
