<h2>Your Cart</h2>

<hr/>

<section class="cart-content">
  <% total = 0 %>
  <% @cart.each do |id, stuff| %>
    <% product = Product.find_by_id(id) %>
  <div class="content-container">
    <div class="item-img">
      <% product.images.each do |image|%>
        <%= image_tag(image.uploaded_file, :width => 150, :height => 150) %>
      <% end %>
    </div>
    <div class="item-details">
      <h4><%= link_to product.name, product %></h4>
      <h5><%= number_to_currency(product.price, unit: "$") %></h5>
      <% stuff.each do | thing, value | %>
        <% if thing == "quantity" %>
          <p><%= thing + ": " + value.to_s %></p>
          <% total += value * product.price %>
        <% elsif thing == "design" %>
          <p><%= thing + ": " + value.to_s %></p>
        <% else thing == "source" %>
        <%= image_tag value, :width => 75, :height => 75 %>
    </div>
  </div>
        <% end %>
      <% end %>
    <br/>
  <% end %>
  <% if @cart.empty? %>
    <p>You have no items in your cart.  Please add some from the <%= link_to 'store', root_path%>.</p>
  <% else %>
    <p><%= link_to "Empty Cart", cart_path("beehiveisyourfriend"), method: :delete, :class => 'empty-cart' %></p>
    <!-- <hr/> -->
  <% end %>
</section>
<section class="cart-total">
  <h4>Order Summary</h4>
  <p>Subtotal: <%= number_to_currency(total, unit: "$") %></p>
<% if current_user.phone.blank? ||
      current_user.street.blank? ||
      current_user.city.blank? ||
      current_user.state.blank? ||
      current_user.zip.blank? || %>

  <%= link_to "Checkout", user_steps_path, :class => 'checkout-bttn' %>
<% else %>
  <%= link_to "Checkout", carts_checkout_path, :class => 'checkout-bttn' %>
<% end %>
</section>
