<h2>Your Cart</h2>

<hr/>

<section class="cart-content">
  <% @order.order_items.each do |o| %>
    <p>Product Images: </p>
    <% Product.find(o.product_id).images.each do |image| %>
      <%= image_tag(image.uploaded_file, :width => 150, :height => 150) %>
    <% end %>
    <p>Name: <%= o.name %></p>
    <p>Unit Price: <%= number_to_currency(o.unit_price, unit: "$") %></p>
    <p>Design ID: <%= o.fabric_design_url %></p>
    <p>Product ID: <%= o.product_id %></p>
    <p>Order ID: <%= o.order_id %></p>
    <p>Shipping: <%= number_to_currency(o.shipping, unit: "$") %></p>
    <p>Quantity: <%= o.quantity %></p>
    <p>Total Price: <%= number_to_currency(o.total_price, unit: "$") %></p>
    <p><%= link_to "Edit", o %></p>
    <p><%= link_to "Remove", o, method: :delete %></p>
    <hr/>
  <% end %>
</section>
<section class="cart-total">
  <h4>Order Summary</h4>
  <p>Subtotal: <%=  %></p>
<% if current_user.phone.blank? ||
      current_user.street.blank? ||
      current_user.city.blank? ||
      current_user.state.blank? ||
      current_user.zip.blank? || %>
  <%= link_to "Checkout", user_steps_path, :class => 'checkout-bttn' %>
<% else %>
  <%= link_to "Checkout", carts_checkout_path, :class => 'checkout-bttn' %>
<% end %>
</section>
