<h2 class="cart-header">Your Cart</h2>
<section class="cart-content">
  <% @order.order_items.each do |o| %>
    <div class="content-container">
      <div class="item-img">
        <% img = o.product.images.first %>
        <% if img %>
          <%= image_tag img.uploaded_file, width: 150, height: 150 %>
        <% else %>
          <p>Image Not Available</p>
        <% end %>
      </div>
      <div class="hex-fabric">
        <div class="hexagon"></div>
        <p><%= image_tag o.fabric_design_url, width: 100, height: 100, :class => "hexagon-thumb" %></p>
        <% o.product_id %>
        <% o.order_id %>
      </div>
      <div class="item-details">
        <h4><%= o.name %></h4>
        <h5><%= number_to_currency(o.unit_price, unit: "$") %></h5>
        <p>Shipping: <%= number_to_currency(o.shipping, unit: "$") %></p>
        <p>Total: <%= number_to_currency(o.total_price, unit: "$") %></p>
        <%= form_for o do |q| %>
          <%= q.number_field :quantity %>
          <%= q.submit 'Update Quantity', :class => 'quantity-bttn'%>
        <% end %>
        <p><%= link_to "Remove from cart", o, method: :delete, :class => 'remove-item' %></p>
      </div>
    </div>
    <% end %>
</section>
<section class="cart-total">
  <h4>Order Summary</h4>
  <ul class="cart-summary">
    <li><p>Subtotal:</p></li>
    <li class="order-total">
      <%= number_to_currency(@order.total) %>
    </li>
  </ul>
  <% if @order.total > 0 %>
<% if current_user.phone.blank? ||
      current_user.street.blank? ||
      current_user.city.blank? ||
      current_user.state.blank? ||
      current_user.zip.blank? || %>
  <%= link_to "Checkout", user_steps_path, :class => 'checkout-bttn' %>
<% else %>
  <%= link_to "Checkout", carts_checkout_path, :class => 'checkout-bttn' %>
<% end %>
<%= link_to "Empty Cart", cart_path("empty"), method: :delete, :class => 'empty-cart' %>
<% else %>
  You have no items in your cart.
<% end %>
</section>
