<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order_item.product_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id %>
</p>

<p>
  <strong>Fabric design:</strong>
  <%= @order_item.fabric_design %>
</p>

<p>
  <strong>Order item status:</strong>
  <%= @order_item.order_item_status %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @order_item.shipping %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_item.unit_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order_item.name %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
