<%= form_for(@product, html: {multipart: true, :class => "edit-product"}) do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Product name" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "Tell us about it! Dimensions, material, etc." %>
  </div>
  <div class="field">
    <%= f.label :yardage %><br>
    <%= f.number_field :yardage, placeholder: "How much fabric will you need?" %>
  </div>
  <div class="field">
    <%= f.label :fabric_type %><br>
    <%= f.select :fabric_type, [['Basic Cotton Ultra'], ['Satin'], ['Kona'],
        ['Performance Pique'], ['Cotton Poplin'], ['Poly Crepe de Chine'], ['Cotton Lawn Ultra'],
        ['Silky Faille'], ['Performance Knit'], ['Modern Jersey'], ['Minky'],
        ['Linen-Cotton Canvas'], ['Organic Cotton Interlock Knit'], ['Organic Cotton Sateen'],
        ['Sport Lycra'], ['Eco Canvas'], ['Heavy Cotton Twill'], ['Faux Suede'],
        ['Silk Crepe de Chine']], placeholder: "What type of fabric will you need?" %>
  </div>
  <div class="field">
    <%= f.label :shipping %><br>
    <%= f.text_field :shipping, placeholder: "How much will shipping cost?" %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, placeholder: "How much will this product cost?" %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <table>
      <tbody>
        <% @product.images.each do |i| %>
        <tr>
          <td><%= image_tag i.uploaded_file, :width => 400, :height => 400 %></td>
          <td><%= link_to 'Show', i %></td>
          <td><%= link_to 'Edit', edit_image_path(i) %></td>
          <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="field">
    <%= label_tag :image, "Upload product images:" %>
    <%= file_field_tag :image %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "add-new-button" %>
  </div>
<% end %>
