<section class="grid-row product-overview">
  <div class="col-2-3">
    <% @product.images 1.times do |image|%>
      <%= image_tag(image.uploaded_file, :width => 550, :height => 550) %>
    <% end %>
  </div>
  <div class="col-1-3">
    <h2>
      <%= @product.name %>
    </h2>
    <h3>
      $<%= (number_with_precision(@product.price, :precision => 2)) %>
    </h3>
    <div class="seller-details">Seller photo and name</div>
    <h4>Description</h4>
      <p><%= @product.description %></p>
    <p>
      <strong>Fabric type:</strong>
      <%= @product.fabric_type %>
    </p>
    <p>
      <strong>Shipping:</strong>
      $<%= (number_with_precision(@product.shipping, :precision => 2)) %>
    </p>
  </div>
</section>
<section class="grid-row sf-fabric">
  <div class="col-3-3">
    <%= form_tag product_path, :method => 'get' do %>
      <%= label_tag(:q, "Search Spoonflower's custom fabrics") %>
      <table>
      <tr>
        <td id="input"><%= text_field_tag :search, params[:search], :placeholder => 'Enter search term...', class: "form-control" %></td>
        <td><%= submit_tag "Search", :name => nil, :class => 'search-button' %></td>
      </tr>
    </table>
    <% end %>
  </div>
  </br>

  <% if params[:search] == "" || params[:search] == nil %>
    <%= render plain: "Or choose from these popular fabric designs: " %></br></br>
  <% end %>

  <%= render :partial => 'fabric' %>

</br>

  <%= link_to "Add to Cart", carts_path(id: @product.id), method: :post, id: "add-to-cart" %>

  <!-- <button class="add-cart">Add to cart</button> -->
</section>
<section class="grid-row more-seller">
  <div class="col-3-3">More from this seller</div>
</section>
