<p id="notice"><%= notice %></p>


<p>
  <%= @product.name %>
</p>

<% @product.images.each do |image|%>
  <%= image_tag(image.uploaded_file, :width => 400, :height => 400) %>
    <% end %>

<p>
  <%= @product.description %>
</p>


<p>
  <strong>Fabric type:</strong>
  <%= @product.fabric_type %>
</p>

<p>
  <strong>Shipping:</strong>
  $<%= (number_with_precision(@product.shipping, :precision => 2)) %>
</p>

<p>
  <strong>Price:</strong>
  $<%= (number_with_precision(@product.price, :precision => 2)) %>
</p>
