<p id="notice"><%= notice %></p>

<p>
  <strong>User Id:</strong>
  <%= @product.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Yardage:</strong>
  <%= @product.yardage %>
</p>

<p>
  <strong>Fabric type:</strong>
  <%= @product.fabric_type %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @product.shipping %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
