<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>Beehive</title>
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

        <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
          <%= link_to products_path do %>
            <h1>Beehive</h1>
          <% end %>
          <div>
            <nav class="login-register">
              <p class="log">login</p>
              <p class="reg">register</p>
              <p class="cart">cart</p>
              <!-- <div class="user-login">
                <ul class="login-form">
                <% if current_user %>
                  <li>Signed in with <%# current_user.provider %> as <%= current_user.name %></li>
                  <li><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
                <% else %>
                  <button class="fb-bttn"><i class="fa fa-facebook fa-lg"></i><%# link_to 'Sign In With Facebook', "/auth/facebook" %></button>
                  <button class="tw-bttn"><i class="fa fa-twitter fa-lg"></i><%# link_to 'Sign In With Twitter', "/auth/twitter" %></button>

                <% end %>
                </ul>
              </div> -->

              <div>
                <ul>
                <% if current_user %>
                  <li>Signed in with <%= current_user.provider %> as <%= current_user.name %></li>
                  <li><%= link_to "Sign Out", "/sign_out", method: :delete %></li>
                  <li><%= link_to 'Profile', user_path(current_user) %></li>
                <% else %>
                  <li><%= link_to 'Sign In With Facebook', "/auth/facebook" %></li>
                  <li><%= link_to 'Sign In With Twitter', "/auth/twitter" %></li>
                <% end %>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <main class="container">

          <%= yield %>

        </main>
        <footer>
          <h5>Powered by Spoonflower</h5>
        </footer>

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    </body>
