<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>Beehive</title>
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
        <!-- <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

    </head>
    <body>

        <header>
          <%= link_to products_path do %>
            <h1>Beehive</h1>
          <% end %>
          <div>
            <nav class="login-register">
              <div>
                <ul>
                <% if current_user %>
                  <!-- <li>Signed in with <%# current_user.provider %> as <%# current_user.name %></li> -->
                  <li><%= link_to 'Shop', products_path %></li>
                  <li><%= link_to 'Manage', user_path(current_user) %></li>
                  <li><%= link_to 'Cart', cart_path %></li>
                  <li><%= link_to "Sign Out", "/sign_out", method: :delete %></li>
                <% else %>
                  <li><%= link_to 'Login', new_session_path %></li>
                  <li><%= link_to 'Register', new_user_path %></li>
                <% end %>
                </ul>
              </div>
            </nav>

          </div>
        </header>
        <!-- MAIN CONTENT AND INJECTED VIEWS -->

        <main class="container">

          <%= yield %>

        </main>

        <footer>
          <%= image_tag asset_path('Spoonflower_Logo_Vector.jpeg'), width: "20%" %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        </footer>

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    </body>
